{% extends 'base.html' %}
{% block title %}Password Reset{% endblock %}
{% block content %}

<h3>Password reset</h3>
<br/>
<p> Forgotten your password? Enter your Email address below and we"ll email instructions for setting a new one.

</p>
<br/>



<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        
        <div class="form-group">
            <input type="email" class="form-control" name="email" autocomplete="email" placeholder="Email" style="width:350px">
        </div>

        <button class="btn btn-secondary">Send Email</button>
    </form>
</div>

{% endblock %}
