{% extends "base.html" %}
{% load static %}
{% block content %}


<br/>
    <h2><p>{{ movie.title }}</p></h2>
    {% if movie.movie_image %}
    <img src="{{ movie.movie_image.url }}" width="190" height="280"/>
    {% else %}
    <img src="{% static 'movies/images/default_movie_image.jpg' %}" width="190" height="280"/>
    {% endif %}  
    <br/><br/>
    <p>YEAR: {{ movie.year }}</p>
    <p>GENRE: {{ movie.genre }}</p>
    <p>DIRECTOR: {{ movie.director }}</p>
    <p>TRAILER: <a href="{{ movie.trailer }}" target="_blank">Watch trailer here</a></p>

    <p><a href="{% url 'movie-delete' pk=movie.pk %}">Delete movie: {{ movie }}</a></p>
    <p><a href="{% url 'movie-update' pk=movie.pk %}">Update movie: {{ movie }}</a></p>

{% endblock %}
