{% extends "base.html" %}
{% block title %}Movies{% endblock %}
{% load static %}
{% block content %}

<h1>Movie List</h1>
<br/>
    {% for movie in object_list %}
        <p><a href="{% url detail_url pk=movie.pk %}">
        {% if movie.movie_image %}
            <img src="{{ movie.movie_image.url }}"width="190" height="280"/>
        {% else %}
            <img src="{% static 'movies/images/default_movie_image.jpg' %}" width="190" height="280">
        {% endif %}        
        {{ movie }} </a></p>
    {% endfor %}
{% endblock %}
